/*
#f0b593	(240,181,147) peach
#b4e194	(180,225,148) green
#89c4ce	(137,196,206) blue
#f2c258	(242,194,88) yellow
#313131	(49,49,49) black
*/

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.login {
  /* margin-left: auto; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color:#313131
}

.content {
  width: 80vw;
  padding: 2rem;
  background-color: #b4e194; /* black */
  border-radius: 10px;
  color: #f0b593; /* peach */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  background-color: #313131; /* black */
  padding: 50px;
  border-radius: 10px;
  min-width: 50%;
}


input {
  padding: 5px;
  border: 1px solid #b4e194; /* green */
  border-radius: 4px;
  background-color: #89c4ce; /* blue */
  color: #313131; /* black */
  margin: 5px 10px;
}

.new-recipe-form button {
  background-color: #f2c258; /* yellow */
  color: #313131; /* black */
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.new-recipe-form button:hover {
  background-color: #f0b593; /* peach */
}

button {
  background-color: #f2c258; /* yellow */
  color: #313131; /* black */
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #f0b593; /* peach */
}

.cookbook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #313131; /* black */
  padding: 50px;
  border-radius: 10px;
  min-width: 50%;
}

.view-recipe {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #313131; /* black */
  padding: 50px;
  border-radius: 10px;
}

hr {
  width: 100%;
  border: 1px solid #f0b593; /* peach */
}